body {
  background-color: #2d364e;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: #fff;
  text-align: center;
}

.logo {
  width: 500px;
}

.construction__heading,
.construction__title {
  color: #fff;
  font-weight: 300;
}

.construction__title {
  margin-bottom: 80px !important;
}
